*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #333;}
hr {
    opacity: 0.3;
}
main{
    width: 600px;
    background-color: #fff;
    
    padding: 30px;
    border-radius: 5px;}
h1{   
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
}
h2{
    font-size: 18px;
}
.product-list{
    padding: 10px 0;
    display: flex;
    align-items: center;
    
}
.product-img{
    width: 80px;
    height: 80px;
    border-radius: 5px;
    overflow: hidden;
}
.product-img img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-title{
    width: 250px;
    margin-left: 10px;
}
.product-title h3{
    margin-bottom: 5px;
}
.product-amount{
    display: flex;
    align-items: center;
    width: 120px;}
.product-amount span{
    font-size: 15px;
    display: inline-block;
}
.product-amount input{
    width: 50px;
    padding: 3px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    margin: 0 10px;
    border-color: #3333334d;
}
.product-price{   
    width: 80px;
    font-size: 14px;
}
.product-cancel .cancel{
    display: inline-block;
    font-size: 25px;
    font-weight: 900;
    color: #e91e1e;
}
.plus, .minus, .cancel, .checkout-btn{
    cursor: pointer;
}

.subtotal, .tax, .total {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.total{
    font-size: 18px;
}
.checkout {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 1px;
    display: block;
    text-align: center;
    background-color: #3f51b5;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}